.like {
    height: 100px;
    width: 200px;

    margin: auto;
    margin-top: 20%;
}
button {
    height: 50px;
    width: 100px;
    color: white;
    border: 1px solid rgb(29, 105, 171);
    background: rgb(37, 129, 212);
    box-shadow: 0px 3px rgb(29, 105, 171);
    font-size: 18px;
    font-weight: 250;
    border-radius: 10px;
    margin-top: 20px;
}
button:focus {
    outline: 0;
}
button:active {
    transform: scale(.9);
}